[package]
name = "wishlists"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlx = { version = "0.7.0", features = [
  "postgres",
  "runtime-tokio",
  "chrono",
  "uuid",
  "macros",
] }
axum = "0.6.18"
serde = { version = "1.0.167", features = ["derive"] }
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
uuid = { version = "1.4.0", features = ["v4", "serde"] }
anyhow = "1.0.71"
chrono = { version = "0.4.26", features = ["serde"] }
clap = { version = "4.3.19", features = ["derive", "env"] }
