version: '3.5'
services:
  main:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      WISHLISTS__POSTGRES_URL: &postgres_url postgres://postgres:postgres@postgres:5432/postgres
      WISHLISTS__APP_BIND_ADDRESS: 0.0.0.0:8080
    ports:
      - 8080:8080/tcp
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
  migrations:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      WISHLISTS__POSTGRES_URL: *postgres_url
      WISHLISTS__MIGRATE: "true"
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
