version: '3.5'
services:
  main:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker-host.sock
      - ..:/workspace/wishlists-rs:cached
      - wishlists-rs-vscode-extensions:/home/vscode/.vscode-server/extensions:rw
    entrypoint: /usr/local/share/docker-init.sh
    command: sleep infinity
    ports:
      - 8080:8080/tcp
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
volumes:
  wishlists-rs-vscode-extensions: {}
